@import './utils/variables.scss';

.contacts {
  display: flex;
  gap: 20px;
  align-items: center;

  &__button-link {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid $color-dark;
    background-color: $color-light;
  
    font-weight: 500;
  
    transition: 0.7s;
  
    &:hover {
      background-color: $color-accent;
      color: $color-light;
      transform: scale(1.05);
    }
  }
  
  &__social {
    transition: 0.7s;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}
