@import './utils/variables.scss';

.footer {
  display: flex;
  justify-content: space-between;

  background: linear-gradient(312.06deg, #D9BC9A 30.5%, rgba(217, 188, 154, 0) 110%);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;

  &__title {
    margin-bottom: 20px;
  }

  &__message {
    margin-bottom: 70px;
  }

  &__up-button {
    background-color: $color-light;
    height: fit-content;
    border-radius: 50%;
    border: none;
    padding: 5px 5px 1px;
    transition: 0.7s;
    cursor: pointer;

    &:hover {
      background-color: $color-accent;
      transform: translateY(-15%);
    }
  }
}