@import './utils/reset.scss';
@import './utils/variables.scss';
@import './utils/mixins.scss'
;
:root {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  color: $color-dark;
  scroll-behavior: smooth;
}

.container {
  padding: 0 120px;

  @include onTablet {
    padding: 0 80px;
  }

  @include onMobile {
    padding: 0 40px;
  }
}
