@import './utils/variables.scss';

.navbar {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 10px 0;

  &__item {
    position: relative;
    transition: 0.7s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      right: 0;

      width: 40%;
      height: 2px;
      background-color: transparent;
      border-radius: 20px;
      transform: scale(0);

      transition: 0.5s;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        background-color: $color-accent;
        transform: scale(1);
      }
    }
  }
}